<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<table id="table" summary="Department List" aria-label="Departments Table"
       data-bind="ojComponent: {component: 'ojTable', 
                                data: pagingDatasource, 
                                columnsDefault: {sortable: 'enabled'}, 
                                columns: [{headerText: 'Department Id', 
                                           field: 'DepartmentId'},
                                          {headerText: 'Department Name', 
                                           field: 'DepartmentName'},
                                          {headerText: 'Location Id', 
                                           field: 'LocationId'},
                                          {headerText: 'Manager Id', 
                                           field: 'ManagerId'}]}">
</table>
<div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 5}">
    </div>